html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 16px;
}
.Nu95r{
    background-image: url("https://lh4.googleusercontent.com/Ze9v1lEQ3j4E0aYq_-WpIi3lXkcWxYuT5Ktmx5eZQkJjR2LmQIfsziSoiLvPJvxm75VSg6EBJXjeacZTSBQR-DM=w16383&quot");
    background-position: right center;
    background-size: cover; transform: translate3d(0px, 0px, 0px);
}
.jXK9ad-SmKAyb {
    width: 100%;
}
.fktJzd *, .fktJzd *:before, .fktJzd *:after {
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.JNdkSc-SmKAyb{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 1.25%;
    padding-right: 1.25%;
}
.info{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.CDt4Ke.zfr3Q {
    font-family: Karla;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    vertical-align: baseline;
    text-decoration: none;
    display: block;
    line-height: 1.5;
    text-align: left;
    margin-left: 0.0pt;
    margin-right: 0.0pt;
    padding-left: 0.0pt;
    text-indent: 0.0pt;
    margin-top: 12.0pt;
    margin-bottom: 7.0pt;
    font-size: 14.0pt;
}
.C9DxTc{
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    color: rgba(34,34,34,1);
    font-family: Karla;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1.5;
    text-align: left;
    text-indent: 0.0pt;
    font-size: 14.0pt;
    box-sizing: border-box;
}
.yaqOZd:before {
    display: block;
    background-color: rgba(255, 255, 255, 1);
}
