<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/edit-article.css">
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/commons::nav">
    </header>

<h1 class="title" style="">Edit Article</h1>
    <!-- Top Container -->

    <form id="edit-route-form" class="w-50 rounded text-white mt-5" th:action="@{/articles/{id}(id=${article.id})}"
          th:method="patch" th:object="${article}">
        <input type="hidden" th:field="*{id}" />

            <div class="form-style-5 ">

                            <!--                            <textarea name="field3" placeholder="About yourself"></textarea>-->

                            <fieldset> <label th:text="#{nav_bar_login_art_title}"></label>
                                <input th:field="*{title}"
                                       th:errorclass="'is-invalid bg-danger'"
                                       minlength="5"
                                       required
                                       type="text" name="title"
                                       placeholder="Article Title">
                                <small th:each="error :${#fields.errors('title')}"
                                       th:text="${error}"
                                       th:class="'invalid-feedback text-danger'"  id="inputTitleError"> Title must be more then 5 letters!</small>


                                <label >
                                    <label th:text="#{nav_bar_login_art_content}" ></label>
                                    <textarea th:field="*{content}"
                                              th:errorclass="'is-invalid bg-danger'"
                                              required
                                              class="article" name="article"
                                              placeholder=" Your Article Content"></textarea>
                                </label>
                                <small th:each="error :${#fields.errors('content')}"
                                       th:text="${error}"
                                       th:class="'invalid-feedback text-danger'"
                                       id="inputContentError"> Content must be more then 10 letters!</small>
                            </fieldset>
                            <input  type="submit" value="Save" />

            </div>

    </form>

</div>
<div  style="background-color: burlywood;">
    <footer th:replace="fragments/commons::footer">

    </footer></div>
</body>
</html>
